* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
   

body {
    background-color: #1da1f2;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

    
}


.contenedor { 
    
    background-color: white;
    width: 600px;
    margin: 50px;
    padding: 20px;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;
    
    
    
    
}

.tweet {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

div p {
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}

.dia {
    margin: 10px;
}





.likes {
    margin: 10px;
    font-size: 20px;
    
}


.links {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}